@model CHSAuction.Models.EditGuestVM

@{
    ViewData["Title"] = "Guests";
}

<h2>Guests</h2>

<p>
    <a href="#" data-toggle="modal" data-target="#addGuestModal" class="btn btn-primary">Add a New Guest</a>
</p>
<div class="table-responsive">
<table class="table table-striped table-hover">
    <thead class="label-primary">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Organization</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Guests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuestFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.OrganizationName)
            </td>
            <td>
                <a href="#" data-toggle="modal" data-target="#editGuestModal-@item.GuestId">Edit</a> |
                <a href="#" data-toggle="modal" data-target="#deleteGuestModal-@item.GuestId">Delete</a>
            </td>
        </tr>

        <div class="modal fade" id="deleteGuestModal-@item.GuestId" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Are you sure you want to delete this guest?</h4>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt>
                                First Name: 
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.GuestFirstName)
                            </dd>
                            <dt>
                                Last Name: 
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.GuestLastName)
                            </dd>
                            <dt>
                                Email: 
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.GuestEmail)
                            </dd>
                            <dt>
                                Phone Number: 
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.GuestPhone)
                            </dd>
                            <dt>
                                Street Address: 
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.GuestAddress)
                            </dd>
                            <dt>
                                City: 
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.GuestCity)
                            </dd>
                            <dt>
                                State: 
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.GuestState)
                            </dd>
                            <dt>
                                ZIP: 
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.GuestZip)
                            </dd>
                            <dt>
                                Organization: 
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.Organization.OrganizationName)
                            </dd>
                        </dl>

                        <form asp-action="Delete" asp-route-id="@item.GuestId">
                            <input type="hidden" asp-for="@item.GuestId" />
                            <input type="submit" value="Delete" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editGuestModal-@item.GuestId" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit @item.GuestFirstName @item.GuestLastName</h4>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Edit" asp-route-id="@item.GuestId">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="GuestId" value="@item.GuestId"/>
                            <div class="form-group">
                                <label asp-for="@item.GuestFirstName" class="control-label">First Name</label>
                                <input asp-for="GuestFirstName" class="form-control" value="@item.GuestFirstName"/>
                                <span asp-validation-for="@item.GuestFirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@item.GuestLastName" class="control-label">Last Name</label>
                                <input asp-for="GuestLastName" class="form-control" value="@item.GuestLastName"/>
                                <span asp-validation-for="@item.GuestLastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@item.GuestEmail" class="control-label">Email</label>
                                <input asp-for="GuestEmail" class="form-control" value="@item.GuestEmail"/>
                                <span asp-validation-for="@item.GuestEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@item.GuestPhone" class="control-label">Phone Number</label>
                                <input asp-for="GuestPhone" class="form-control" value="@item.GuestPhone"/>
                                <span asp-validation-for="@item.GuestPhone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@item.OrganizationId" class="control-label">Organization</label>
                                <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId">
                                    <option value="@item.OrganizationId" selected></option>
                                    <option value="">None</option>
                                </select>
                                <span asp-validation-for="@item.OrganizationId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@item.GuestAddress" class="control-label">Street Address</label>
                                <input asp-for="GuestAddress" class="form-control" value="@item.GuestAddress"/>
                                <span asp-validation-for="@item.GuestAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@item.GuestCity" class="control-label">City</label>
                                <input asp-for="GuestCity" class="form-control" value="@item.GuestCity"/>
                                <span asp-validation-for="@item.GuestCity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@item.GuestState" class="control-label">State</label>
                                <input asp-for="GuestState" class="form-control" value="@item.GuestState"/>
                                <span asp-validation-for="@item.GuestState" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@item.GuestZip" class="control-label">ZIP</label>
                                <input asp-for="GuestZip" class="form-control" value="@item.GuestZip"/>
                                <span asp-validation-for="@item.GuestZip" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
}
    </tbody>
</table>
</div>

<div class="modal fade" id="addGuestModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a New Guest</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="GuestFirstName" class="control-label">First Name</label>
                        <input asp-for="GuestFirstName" class="form-control" />
                        <span asp-validation-for="GuestFirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuestLastName" class="control-label">Last Name</label>
                        <input asp-for="GuestLastName" class="form-control" />
                        <span asp-validation-for="GuestLastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuestEmail" class="control-label">Email</label>
                        <input asp-for="GuestEmail" class="form-control" />
                        <span asp-validation-for="GuestEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuestPhone" class="control-label">Phone Number</label>
                        <input asp-for="GuestPhone" class="form-control" />
                        <span asp-validation-for="GuestPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrganizationId" class="control-label">Organization</label>
                        <select asp-for="OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId">
                            <option value="" selected>None</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuestAddress" class="control-label">Street Address</label>
                        <input asp-for="GuestAddress" class="form-control" />
                        <span asp-validation-for="GuestAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuestCity" class="control-label">City</label>
                        <input asp-for="GuestCity" class="form-control" />
                        <span asp-validation-for="GuestCity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuestState" class="control-label">State</label>
                        <input asp-for="GuestState" class="form-control" />
                        <span asp-validation-for="GuestState" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuestZip" class="control-label">ZIP</label>
                        <input asp-for="GuestZip" class="form-control" />
                        <span asp-validation-for="GuestZip" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>