@model CHSAuction.Models.Admins

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Admins</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminUsername)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminUsername)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdminPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdminUsername">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
