@model IEnumerable<CHSAuction.Models.Admins>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdminUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdminUsername">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdminUsername">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdminUsername">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
